$modal-z: 1000;
$modal-bg: $white;
$modal-width: 350px;
$modal-delay: 0s;

$space: 20px;

$t: .5s;

@mixin ease($s: $t) {
  transition: all $s cubic-bezier(0.23, 1, 0.32, 1);
}


/**
 * Material Modal CSS
 */

.modal {
	will-change: visibility, opacity;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: $modal-z;
	// hide modal
	visibility: hidden;
	opacity: 0;
	@include ease();
  transition-delay: $modal-delay;
  color: $black;
  font-size: 30px;

  .title {
    text-decoration: underline;
    margin-top: 0;
    font-size: .75em;
  }

	&--active {
		// reveal modal
		visibility: visible;
		opacity: 1;
  }
	&--align-top {
		// align to top of window, useful if modal has a lot of content
		align-items: flex-start;
  }
	&__bg {
		// background color can be added as a backdrop for the modal
    background: transparentize($black, .2);
  }

	&__dialog {
		// controls the width and padding of modal
		max-width: $modal-width;
    padding: ($space / 2);
  }


	&__content {
		will-change: transform, opacity;
		position: relative;
		padding: $space;
		background: $modal-bg;
		background-clip: padding-box;
		box-shadow: 0 12px 15px 0 rgba(black, 0.25);
		opacity: 0;
    @include ease(.25s);

    svg{
      display: block;
      width: 100%;
      height: 100px;
      padding: 0;
      margin: 0;

      }
      path{
        stroke-linecap: square;
        stroke: white;
        stroke-width: 0.5px;
      }

		&--active {
      opacity: 1;
    }

    ul {
      margin: 0;
      padding-left: 0;
      li {
        position: relative;
        margin-left: 0;
        list-style-type: none;
        font-size: 1.25em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        border-bottom: 1px solid mix($black,white, 20%);
        cursor: pointer;
        &.active::after {
          content: '✓';
          font-size: .5em;
          font-weight: bold;
          color: $green;
          position: absolute;
          right: 1.1em;
          top: 50%;
          transform: translateY(-50%);
        }
        &:hover {
          color: mix($black,white, 75%);
        }
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }

	&__close {
		z-index: $modal-z+100;
    cursor: pointer;
    display: block;
    position: relative;
    float: right;
  }

  .cta {
    color: $red;
    cursor: pointer;
    font-size: .7em;
    &:hover {
      color: mix(black, $red, 20%);
    }
  }

		&--active {
        z-index: 10;
    }
}

#modal__temp {
	// this is the div that expands when the button is clicked
	will-change: transform, opacity;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent;
	transform: none;
	opacity: 1;
  transition: opacity 0.1s ease-out, transform $t cubic-bezier(0.23, 1, 0.32, 1);
}

